
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
                <div class="row">
				<div class="column">
                    <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input class="login__input" type="text"  name="name" placeholder="Nombre"  required="required">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input class="login__input" type="text"  name="email" placeholder="Correo"  required="required">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" type="password"  name="password" placeholder="Contraseña" required="required">
				</div>
            </div>
            <div class="column">
                <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                <input class="login__input" type="number"  name="age" placeholder="Edad"  required="required">
            </div>
            <div class="login__field">
                <i class="login__icon fas fa-user"></i>
                <input class="login__input" type="number"  name="phone" placeholder="Celular"  required="required">
            </div>
            <div class="login__field">
                <i class="login__icon fas fa-lock"></i>
                <input type="password" class="login__input" type="password"  name="password" placeholder="Repetir contraseña" required="required">
            </div>
        </div>
            </div>

				<button class="button login__submit" type="submit" >
					<span class="button__text">Registrar</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
			<!-- <div class="social-login">
				<h3>log in via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div> -->
            <div class="sign-up">
				<h6>¿Ya tienes una cuenta? <a routerLink="/" class="router-sign-up">INICIAR SESIÓN</a></h6>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>